<!-- Sidenav -->
<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="javascript:void(0)">
        <img src="/assets/img/brand/blue.png" class="navbar-brand-img" alt="...">
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {{#if highestGrossing}}active{{/if}}" href="/highestgrossing">
              <i class="ni ni-money-coins text-red"></i>
              <span class="nav-link-text">Highest Grossing Films</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{#if topRatedMovies}}active{{/if}}" href="/topratedmovies">
              <i class="ni ni-like-2 text-red"></i>
              <span class="nav-link-text">Top Rated Films</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{#if mostProducedGenres}}active{{/if}}" href="/mostproducedgenres">
              <i class="ni ni-tag text-red"></i>
              <span class="nav-link-text">Most Produced Genres</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{#if topRatedMovieGenres}}active{{/if}}" href="/topratedmoviegenres">
              <i class="ni ni-satisfied text-red"></i>
              <span class="nav-link-text">Top Rated Movies of a Genre</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{#if topDirectorsOfAGenre}}active{{/if}}" href="/topdirectorsofagenre">
              <i class="ni ni-glasses-2 text-red"></i>
              <span class="nav-link-text">Top Directors of a Genre</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{#if moviesFromKeyword}}active{{/if}}" href="/moviesfromkeyword">
              <i class="ni ni-zoom-split-in text-red"></i>
              <span class="nav-link-text">Movies Keyword Search</span>
            </a>
          </li>

            <li class="nav-item">
                    <div style="text-align: center;"><h3> <span class="nav-link-text">OLAP</span></h3></div>
            </li>

          <li class="nav-item">
           <a class="nav-link {{#if highestGrossingGenreDecade}}active{{/if}}" href="/highestgrossinggenreperdecade">
             <i class="ni ni-zoom-split-in text-red"></i>
             <span class="nav-link-text">Genre Revenue Per Decade</span>
           </a>
          </li>

            <li class="nav-item">
                <a class="nav-link {{#if genreRevenueYear}}active{{/if}}" href="/genrerevenueyear">
                    <i class="ni ni-zoom-split-in text-red"></i>
                    <span class="nav-link-text">Genre Revenue Per Year</span>
                </a>
            </li>

            <li class="nav-item">
           <a class="nav-link {{#if pcRevenue}}active{{/if}}" href="/totalrevenueofapc">
             <i class="ni ni-zoom-split-in text-red"></i>
             <span class="nav-link-text">Total Revenue of a Production Company</span>
           </a>
          </li>

            <li class="nav-item">
           <a class="nav-link {{#if pcYearRevenue}}active{{/if}}" href="/pcrevenueyear">
             <i class="ni ni-zoom-split-in text-red"></i>
             <span class="nav-link-text">Total Revenue of a Production Company of in a Year</span>
           </a>
          </li>



        </ul>
        <!-- Divider -->
        <hr class="my-3">
      </div>
    </div>
  </div>
</nav>